<div class="header">Bonsai Journaling</div>

<div class="content">
<% if logged_in? %>
    <div class="subheader">Welcome, <%= current_user.username %>!</div>
    <h3>My Trees</h3>
    <div class="trees">
    <ul>
      <% current_user.trees.each do |tree| %>
        <%= link_to tree_path(tree) do %>
        <li>
          <div class="card">
          <h1><%= tree.nickname %><span class="tree_species">(<%= tree.species %>)</span></h1>
            Style:
            In Training Since: <% tree.date %>
          </div>
        </li>
        <% end %>
      <%end %>
    </ul>
    </div>
    
    <h3>Add a Tree:</h3>
    <%= form_with(model: current_user.trees.build, local: true) do |form| %>
    <ul>
        <li><%= form.label :nickname %></li>
        <li><%= form.text_field :nickname %></li>
        <li><%= form.label :species %></li>
        <li><%= form.text_field :species %></li>
        <li>In Training Since</li>
        <li><%= form.text_field :date %></li>
        <li>Style</li>
        <li><%= form.text_field :style %></li>
        <li><%= form.submit %>
    </ul>
    <% end %>
<% else %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
<%end%>
</div>
