<div class="header">Bonsai Journaling</div>

<div class="content">
<% if logged_in? %>
    <div class="subheader">Welcome, <%= current_user.username %>!</div>
    <h3>My Trees</h3>


    <div class="trees">
      <ul>
      <% current_user.trees.each do |tree| %>
        <%= link_to tree_path(tree) do %>
          <li class="card_container">
            <div class="card">
              <div class="stats">
                <span class="nickname"><%= tree.nickname %></span>
                <ul>
                  <li class="extra_stats">
                    <span class="label">Species</span>
                    <span class="value">Red Maple</span>
                  </li>
                  <li class="extra_stats">
                    <span class="label">Scientific Name</span>
                    <span class="value">Acer rubrum</span>
                  </li>
                  <li class="base_stats">
                    <span class="label">Style</span>
                    <span class="value">Informal Upright</span>
                  </li>
                  <li class="base_stats">
                    <span class="label">Training Since</span>
                    <span class="value">2016</span>
                  </li>
                  </ul>
              </div>
              <div class="images">
                <img
                  src='https://images.unsplash.com/photo-1525892826439-8350a6f1709b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'
                  alt=''>
              </div>
            </div>
          </li>
        <% end %>
      <%end %>
      </ul>
    </div>
    
    <h3>Add a Tree:</h3>
    <%= form_with(model: current_user.trees.build, local: true) do |form| %>
    <ul>
        <li><%= form.label :nickname %></li>
        <li><%= form.text_field :nickname %></li>
        <li><%= form.label :species %></li>
        <li><%= form.text_field :species %></li>
        <li>In Training Since</li>
        <li><%= form.text_field :date %></li>
        <li>Style</li>
        <li><%= form.text_field :style %></li>
        <li><%= form.submit %>
    </ul>
    <% end %>
<% else %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
<%end%>
</div>
